*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
    /* flex-direction: column; */
    min-height: 100vh;
    font-family: Arial,Arial, Helvetica, sans-serif;
}

.App{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    width: 100%;
    padding: 40px 0;
}


